

    <div id="content">
    	<div class="row">
	    	<div class="span10">
	    		<h1>Coderise empowers young students in developing nations by teaching them how to build great web applications.</h1>

	    		<div class="row mainContent">
	    			<div class="span6">
	    				<iframe width="512" height="385" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="http://player.vimeo.com/video/47140918"></iframe>

	    			</div>
	    			<div class="span4">
	    				<ul class="crowdStats">
							<li class="stats" id="backers">
								0
								<span>backers</span>
							</li>
							<li class="stats" id="amount">
							$0
							<span>of $16,000 <sup>USD</sup></span>
							</li>
							<li class="stats" id="days">
							150
							<span>days left</span>
							</li>

						</ul>
					</div>

					<div class="span4 fundProg">

						<div class="progress progress-striped active">
  							<div class="bar" style="width: 70%;"></div>
						</div>

						<hr/>

						<h3>Code.Inspire.Create.</h3>
					<a class="blue_button" type="button" id="fund" href="/checkout">Support Coderise!<a>

						<h4>Coderise is a program free of cost for the students</h4>
	    			</div>
	    		</div>


	    	</div>
	    </div>

    </div>



