<!DOCTYPE html>
<html>
  <head>
    <title>Coderise</title>

<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery-1.8.0.min.js"></script>
	<link rel='stylesheet' href='/assets/css/bootstrap.css' />
	<link href="/assets/css/font-awesome-ie7.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>



  </head>
  <body>


    <div class="navbar navbar-fixed-top navbar-inverse" id="mainNav">
      <div class="navbar-inner">

          <a href="#" class="mainLogo">
          	Coderise
          </a>
      </div>
    </div>

    <div id="content">
    	<div class="row">
	    	<div class="span10">
	    		<h1>Coderise empowers young students in developing nations by teaching them how to build great web applications.</h1>

	    		<div class="row mainContent">
	    			<div class="span6">
	    				<iframe width="512" height="385" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="http://player.vimeo.com/video/47140918"></iframe>

	    			</div>
	    			<div class="span4">
	    				<ul class="crowdStats">
							<li class="stats" id="backers">
								0
								<span>backers</span>
							</li>
							<li class="stats" id="amount">
							$0
							<span>of $2,395</span>
							</li>
							<li class="stats" id="days">
							29
							<span>days left</span>
							</li>

						</ul>
					</div>

					<div class="span4 fundProg">

						<div class="progress progress-striped active">
  							<div class="bar" style="width: 70%;"></div>
						</div>

						<hr/>
	    			</div>
	    		</div>


	    	</div>
	    </div>
    </div>



  </body>
</html>