body
  padding: 110px
  background: url('../assets/img/bg-grid.png') repeat
  // background: #f6f6f6
a
  color: #00B7FF

navbarColor()
	background: #063a5b;
	background-size: 100%; 
	background-image: -moz-linear-gradient(top,  #063a5b 0%, #11486c 53%, #11486c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#063a5b), color-stop(53%,#11486c), color-stop(100%,#11486c));
	background-image: -webkit-linear-gradient(top,  #063a5b 0%,#11486c 53%,#11486c 100%);
	background-image: -o-linear-gradient(top,  #063a5b 0%,#11486c 53%,#11486c 100%);
	background-image: -ms-linear-gradient(top,  #063a5b 0%,#11486c 53%,#11486c 100%);
	background-image: linear-gradient(to bottom,  #063a5b 0%,#11486c 53%,#11486c 100%);

.navbar-inverse .navbar-inner
	navbarColor n
	padding: 10px 0
	box-shadow: #ACACAC 0 1px 3px 0

a.mainLogo
	margin: 0 auto !important
	background: url('../assets/img/logo.png') no-repeat
	font-size:0
	text-indent: -9999px
	width: 352px
	height: 66px
	display: block

.span10, .row
	margin-left: 0 !important
	width: 1000px
	// background: red
	height: auto
	margin: 0 auto !important

h1
	color: #4B4B4B
	// font-family:'Helvetica Neue', Helvetica, Arial
	font-size: 45px
	text-align: center
	font-family: 'PT Sans', sans-serif
	font-weight: 300
	line-height: 1.1em
	margin-bottom: 40px


// .mainContent
// 	margin: 200px auto


ul.crowdStats
	list-style-type: none

	li
		float: left
		padding: 5px 6px
		font-size: 24px

		span
  			display: block
  			font-family: 'Helvetica Neue', Helvetica, Arial
  			font-size: 18px
  			margin-top: 5px
  			color: #868686

	li#backers
		border-right: 1px solid #ACACAC
		padding-right: 25px

	li#amount
		padding:5px 25px

	li#days
		border-left: 1px solid #ACACAC
		padding-left: 25px


.span4.fundProg
	margin-top: 30px

.progress
	// border: 1px solid #ddd
	background: #ddd









